@using Microsoft.AspNetCore.Identity
@using HealthyMan.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ApplicationUser user = await UserManager.GetUserAsync(User);
}

    <ul class="navbar-nav flex-grow-1">
        @if (SignInManager.IsSignedIn(User))
        {
            if (User.IsInRole("Admin"))
            {
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" asp-area="Admin" asp-controller="Patients" asp-action="Index">Patients</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link font-weight-bold" asp-area="Admin" asp-controller="Measurement" asp-action="Index">Measurement</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link font-weight-bold" asp-area="Admin" asp-controller="Settings" asp-action="Index">Settings</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link font-weight-bold" asp-area="Admin" asp-controller="Configuration" asp-action="Index">Configuration</a>
                </li>
            }
            else if (User.IsInRole("Patient"))
            {
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" asp-area="Patient" asp-controller="MyMeasurements" asp-action="Index">My Measurements</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" asp-area="Patient" asp-controller="Connect" asp-action="AccessKeyForm">Connect with patient</a>
                </li>
            }
        }
    </ul>