@{
    ViewData["Title"] = "PulseProcessingJs";
}

@section Scripts{
    <script src="~/js/findpeaks.js"></script>
    @*<script src="~/lib/fourier/fourier.js" type="text/javascript"></script>*@
    <script src="~/js/mean.js"></script>
    <script src="~/lib/nayuki/fft.js"></script>
    <script src="~/js/PulseProcessing.js"></script>
}

<h1><i>PulseProcessing.js</i></h1>
<h6>* Set inputs in <i>HealthyMan/wwwroot/js/PulseProcessing.js</i> file</h6>
<div >
    <div id="heartRate" class="d-inline-block mr-4">
        <h5>heartRate</h5>

    </div>
    <div id="pulseFrequency" class="d-inline-block mr-4">
        <h5>pulseFrequency</h5>
    </div>
    <div id="pulseProcessedDataTime" class="d-inline-block">
        <h5>pulseProcessedDataTime</h5>
    </div>
</div>