@{
    ViewData["Title"] = "Pulse";
}

<div class="text-center">
    <h1>Pulse</h1>
    <hr />
    <div class="chart-container" style="position: relative; height:40vh; width:69.4vw">
        <canvas id="myChart" width="80"></canvas>
    </div>
    <div class="form-group">
        <div>
            <span>Pulse: </span><span id="pulse"></span>
        </div>
        <div>
            <span>Counter: </span><span id="counter"></span>
        </div>
    </div>
    <div class="form-group">
        <button id="btn-start" class="btn btn-success">Start</button>
        <button id="btn-stop" class="btn btn-danger">Stop</button>
    </div>
    <hr />
    <div id="form">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName">
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName">
        </div>
        <div class="form-group">
            <label for="birthDate">Birth Date</label>
            <input type="date" id="birthDate">
        </div>
        <button id="btn-send" class="btn btn-primary">Send</button>
    </div>
</div>

        @section Scripts {
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js"
                    type="text/javascript"></script>
            <script src="~/js/script_pulse.js"></script>
        }
