@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
    var user = await UserManager.GetUserAsync(User);
    string role = "";
    if (user != null)
    {
        IList<string> roles = await UserManager.GetRolesAsync(user);
        if(roles.Count > 0)
            role = roles[0];
    }

}

@if (role == "Admin")
{

    <div class="text-center">
        <h1>You are an Admin</h1>
    </div>

}
else if (role == "Patient")
{
    <div class="text-center">
        <h1>You are a Patient</h1>
    </div>
}
else
{
    <div class="text-center">
        <h1>Welcome to HealthyMan</h1>
    </div>
}